terratowns_endpoint="https://terratowns.cloud/api"

climatechange = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/climatechange"
  content_version = 1
}
travel = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/travel"
  content_version = 1 
}